<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("EbookName")}} :</h6>
                        {{ item.pbEbook.ebookName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Link")}} :</h6>
                        {{ item.pbEbook.link }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EbookDateStart")}} :</h6>
                        {{ item.pbEbook.ebookDateStart | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Pro")}} :</h6>
                        {{ item.pbEbook.pro }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EbookPrice")}} :</h6>
                        {{ item.pbEbook.ebookPrice }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EbookView")}} :</h6>
                        {{ item.pbEbook.ebookView }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EbookLike")}} :</h6>
                        {{ item.pbEbook.ebookLike }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EbookDislike")}} :</h6>
                        {{ item.pbEbook.ebookDislike }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Discription")}} :</h6>
                        {{ item.pbEbook.discription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EbookCover")}} :</h6>
                        {{ item.pbEbook.ebookCover }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BookPage")}} :</h6>
                        {{ item.pbEbook.bookPage }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("User")}}) {{l("Name")}} :</h6>
                        {{item.userName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PbClass")}}) {{l("ClassName")}} :</h6>
                        {{item.pbClassClassName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PbPlace")}}) {{l("PlaceName")}} :</h6>
                        {{item.pbPlacePlaceName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PbRank")}}) {{l("RankName")}} :</h6>
                        {{item.pbRankRankName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PbStatus")}}) {{l("StatusName")}} :</h6>
                        {{item.pbStatusStatusName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PbSubject")}}) {{l("SectionName")}} :</h6>
                        {{item.pbSubjectSectionName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PbSubjectEducation")}}) {{l("SubjectName")}} :</h6>
                        {{item.pbSubjectEducationSubjectName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PbTypeEbook")}}) {{l("TypeName")}} :</h6>
                        {{item.pbTypeEbookTypeName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("PbTypeFile")}}) {{l("TypeFileName")}} :</h6>
                        {{item.pbTypeFileTypeFileName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
