<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #pbDownloadEbookForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="pbDownloadEbook.id">{{l("EditPbDownloadEbook")}}</span>
                        <span *ngIf="!pbDownloadEbook.id">{{l("CreateNewPbDownloadEbook")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="PbEbookEbookName">{{l("PbEbook")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="PbEbookEbookName" name="pbEbookEbookName" [(ngModel)]="pbEbookEbookName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectPbEbookModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setPbEbookIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="pbDownloadEbook.pbEbookId" [(ngModel)]="pbDownloadEbook.pbEbookId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="PbDownloadEbook_Number">{{l("Number")}}</label>
									<input type="number" id="PbDownloadEbook_Number" class="form-control" [(ngModel)]="pbDownloadEbook.number" name="Number"  />
								</div>
					
								<div class="form-group">
									<label for="PbDownloadEbook_Month">{{l("Month")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="pbDownloadEbook.month._d" id="PbDownloadEbook_Month" name="PbDownloadEbook_Month">
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!pbDownloadEbookForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<pbDownloadEbookPbEbookLookupTableModal #pbDownloadEbookPbEbookLookupTableModal (modalSave)="getNewPbEbookId()"></pbDownloadEbookPbEbookLookupTableModal>
		 
</div>