<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #pbPriceUserForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="pbPriceUser.id">{{l("EditPbPriceUser")}}</span>
                        <span *ngIf="!pbPriceUser.id">{{l("CreateNewPbPriceUser")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="pbPriceUser.userId" [(ngModel)]="pbPriceUser.userId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="PbPriceUser_Price">{{l("Price")}}</label>
									<input type="number" id="PbPriceUser_Price" class="form-control" [(ngModel)]="pbPriceUser.price" name="Price"  />
								</div>
					
								<div class="form-group">
									<label for="PbPriceUser_Month">{{l("Month")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="month" id="PbPriceUser_Month" name="PbPriceUser_Month">
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!pbPriceUserForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<pbPriceUserUserLookupTableModal #pbPriceUserUserLookupTableModal (modalSave)="getNewUserId()"></pbPriceUserUserLookupTableModal>
		 
</div>