<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="input-group col-md-3 col-sm-12 col-lg-6">
                    <button (click)="advancedFiltersAreShown=!advancedFiltersAreShown"
                            class="btn btn-primary"><i class="fa fa-file-excel"></i> Tìm kiếm nâng cao
                    </button>
                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                           [placeholder]="l('SearchWithThreeDot')" type="text"/>
                    <span class="input-group-btn">
                        <button (click)="getPbEbooks()" class="btn btn-primary" type="submit"><i
                            class="flaticon-search-1"></i></button>
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button class="btn btn-danger"><i class="fa fa-file-excel"></i> Sắp xếp theo
                        </button>
                        <button class="btn btn-warning"><i class="fa fa-file-excel"></i> Chủ đề tài liệu
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <p-sidebar [(visible)]="advancedFiltersAreShown" position="left">
                                <div class="row">
                                    <p-scrollPanel [style]="{width: '100%',height: '700px'}" styleClass="custombar2">
                                        <div class="col-md-10">
                                            <div class="kt-separator kt-separator--border-dashed"></div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="EbookNameFilter">Từ trong tài liệu</label>
                                                <input type="text" class="form-control" id="EbookNameFilter"
                                                       name="ebookNameFilter" [(ngModel)]="ebookNameFilter">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <label for="ProFilterSelect">Thương mại</label>
                                            <select class="form-control" name="ProFilter" id="ProFilterSelect"
                                                    [(ngModel)]="proFilter">
                                                <option value="-1">{{l("Tất cả")}}</option>
                                                <option value="0">{{l("Miễn phí")}}</option>
                                                <option value="1">{{l("Pro")}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="proFilter==1" class="col-md-10">
                                            <div class="form-group">
                                                <label
                                                    for="MinEbookPriceFilter">{{l("MinMax")}}
                                                    Giá từ</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="MinEbookPriceFilter"
                                                           [(ngModel)]="minEbookPriceFilter"
                                                           placeholder="{{l('MinValue')}}"
                                                           name="minEbookPriceFilter"/>
                                                    <input type="number" class="form-control"
                                                           [(ngModel)]="maxEbookPriceFilter"
                                                           placeholder="{{l('MaxValue')}}"
                                                           name="maxEbookPriceFilter"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="UserNameFilter">Tác giả</label>
                                                <input type="text" class="form-control" id="UserNameFilter"
                                                       name="userNameFilter" [(ngModel)]="userNameFilter">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="PbClassClassNameFilter">Lớp</label>
                                                <input type="text" class="form-control" id="PbClassClassNameFilter"
                                                       name="pbClassClassNameFilter"
                                                       [(ngModel)]="pbClassClassNameFilter">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="PbTypeEbookTypeNameFilter">Thể loại</label>
                                                <input type="text" class="form-control" id="PbTypeEbookTypeNameFilter"
                                                       name="pbTypeEbookTypeNameFilter"
                                                       [(ngModel)]="pbTypeEbookTypeNameFilter">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="PbTypeFileTypeFileNameFilter">Loại tài liệu</label>
                                                <input type="text" class="form-control"
                                                       id="PbTypeFileTypeFileNameFilter"
                                                       name="pbTypeFileTypeFileNameFilter"
                                                       [(ngModel)]="pbTypeFileTypeFileNameFilter">
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </div>
                            </p-sidebar>
                            <div class="row">
                                <div class="col-md-3">
                                    <p-card styleClass="ui-card-shadow">
                                        <p-header>
                                            <img src="Card" src="">
                                        </p-header>
                                        <p-footer>
                                            <p-splitButton label="Hành động" icon="pi pi-file"
                                                           [model]="items"></p-splitButton>
                                        </p-footer>
                                    </p-card>
                                </div>
                                <div class="col-md-9">
                                    <p-tabView>
                                        <p-tabPanel header="Mô tả" leftIcon="pi pi-calendar">

                                        </p-tabPanel>
                                        <p-tabPanel header="Thuộc tính" leftIcon="pi pi-calendar">

                                        </p-tabPanel>
                                        <p-tabPanel header="Lượt xem" leftIcon="pi pi-calendar">

                                        </p-tabPanel>
                                        <p-tabPanel header="Giá" leftIcon="pi pi-calendar">

                                        </p-tabPanel>
                                        <p-tabPanel header="Review" leftIcon="pi pi-calendar">

                                        </p-tabPanel>
                                    </p-tabView>
                                </div>
                                <div class="primeng-dataview-container col-12"
                                     [busyIf]="primengTableHelper.isLoading">
                                    <p-dataView #dataTable
                                                (onLazyLoad)="getPbEbooks($event)"
                                                [value]="primengTableHelper.records"
                                                [paginator]="false"
                                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                                [lazy]="true"
                                                [totalRecords]="totalRecords">
                                        <ng-template let-record="$implicit" pTemplate="listItem">
                                            <div class="col-12 row ">
                                                <div class="col-md-3">
                                                    <img src="">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">Tác giả: <b>{{record.UserName}}</b></div>
                                                        <div class="ui-g-12">Lượt tải: <b>{{record.EbookView}}</b></div>
                                                        <div class="ui-g-12">Đánh giá: <b>{{record.PbRankRankName}}</b>
                                                        </div>
                                                        <div class="ui-g-12">Tải về: <b>{{record.Link}}</b></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <p-tabView>
                                                        <p-tabPanel header="Mô tả" leftIcon="pi pi-calendar">

                                                        </p-tabPanel>
                                                        <p-tabPanel header="Thuộc tính" leftIcon="pi pi-calendar">

                                                        </p-tabPanel>
                                                        <p-tabPanel header="Lượt xem" leftIcon="pi pi-calendar">

                                                        </p-tabPanel>
                                                        <p-tabPanel header="Giá" leftIcon="pi pi-calendar">

                                                        </p-tabPanel>
                                                        <p-tabPanel header="Review" leftIcon="pi pi-calendar">

                                                        </p-tabPanel>
                                                    </p-tabView>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dataView>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{l('NoData')}}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                     #paginator
                                                     (onPageChange)="getPbEbooks($event)"
                                                     [totalRecords]="primengTableHelper.totalRecordsCount"
                                                     [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                        </p-paginator>
                                        <span class="total-records-count">
                                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p-tabView>
                                <p-tabPanel header="Xem nhiều" leftIcon="pi pi-calendar">

                                </p-tabPanel>
                            </p-tabView>
                            <p-tabView>
                                <p-tabPanel header="Tải nhiều" leftIcon="pi pi-calendar">

                                </p-tabPanel>
                            </p-tabView>
                            <p-tabView>
                                <p-tabPanel header="Mới nhất" leftIcon="pi pi-calendar">

                                </p-tabPanel>
                            </p-tabView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
