<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #pbSubjectEducationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="pbSubjectEducation.id">{{l("EditPbSubjectEducation")}}</span>
                        <span *ngIf="!pbSubjectEducation.id">{{l("CreateNewPbSubjectEducation")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="PbSubjectEducation_SubjectName">{{l("SubjectName")}} *</label>
									<input type="text" id="PbSubjectEducation_SubjectName" class="form-control" [(ngModel)]="pbSubjectEducation.subjectName" name="SubjectName"     required/>
								</div>
					
								<div class="form-group">
									<label for="PbSubjectEducation_Description">{{l("Description")}}</label>
									<input type="text" id="PbSubjectEducation_Description" class="form-control" [(ngModel)]="pbSubjectEducation.description" name="Description"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!pbSubjectEducationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>